################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/GenFuDotnetCoreComplex/v16/Server/sqlite3
